/* ***** search ********/
.search {
  height: 60px; }

.search-wrapper {
  float: left;
  width: 300px; }

.searchSpinner {
  background-image: url("../img/text-loader.gif");
  background-repeat: no-repeat;
  background-position: right 10px center; }
/* ***** /search ********/


/* ***** error messages ********/
.error-msg {
  color: #F44336; }

.alert-notification-failed,
.alert-notification-success {
  display: none;
  border-radius: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 999; }

.required {
  color: #F44336; }
/* ***** /error messages ********/

/* ***** buttons ********/
.btn {
  border-radius: 3px;
}
a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
  color: #fff;
}
.btn-success {
  background: #26B99A;
  border: 1px solid #169F85;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background: #169F85;
}
.btn-dark {
  color: #E9EDEF;
  background-color: #4B5F71;
  border-color: #364B5F;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
  color: #FFFFFF;
  background-color: #394D5F;
  border-color: #394D5F;
}
.btn-round {
  border-radius: 30px;
}
.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 12px;
}
.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn.btn-app:active, .btn.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}

.action-buttons {
  text-align: right;
  width: 150px; }
/* ***** /buttons *******/


/* ***** page layout *******/

.container{
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: left;
}

/* ***** /page layout *******/
